#die-roller-tab {
    display: grid;
    grid-template-columns: 1fr max(300px, 35%);
    grid-template-rows: auto max(30%, 10rem);
    gap: 1rem;
}

#die-roller-tab h2 {
    font-size: 16pt;
    transform: scaleY(80%);
    line-height: 80%;
}

#formulas-panel {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    border: 2px solid black;
    border-radius: 2px;
}

#table-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

#formula-table {
    position: absolute;
    height: calc(100% - 2rem);
    max-height: calc(100% - 2rem);
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}

#formula-table thead {
    background-color: #842c38;
    color: white;
    box-sizing: border-box;
    scrollbar-gutter: stable;
    overflow-y: hidden;
    display: block;
}

#formula-table thead tr {
    padding-bottom: 0.2rem;
}

#formula-table tbody {
    width: 100%;
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 0;
    display: block;
    overflow-y: scroll;
}

#formula-table tr {
    width: 100%;
    display: grid;
    grid-template-columns: 2rem 1fr 1fr 1fr 6rem;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#formula-table tbody tr {
    cursor: pointer;
    position: relative;
}

#formula-table td, #formula-table th{
    padding-inline: 0.5rem;
    display: block;
    text-align: left;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

#formula-table tbody td:nth-child(n+2) {
    border-left: 1px solid gray;
}

#formula-table tbody tr:last-child {
    border-bottom: 1px solid gray;
}

#formula-table tbody tr:first-child {
    border-top: 1px solid gray;
}

#formula-table tbody tr:nth-child(2n) {
    background-color: #b1d1cc;
}

#formula-table tbody td {
    padding-block: 0.5rem;
}

#formula-table tbody tr.selected::before {
    /* background-color: #ffffb8; */
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0.5rem inset #ffeac1, 0 0 0.5rem 0.5rem inset #ffd580;
}

/* Category styles */
#formula-table tbody td:first-child {
    background-color: gray;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

#formula-table tbody td:first-child[data-category="Stat"] {
    background-color: #375082;
    background-image: url('../assets/stat.png');
}
#formula-table tbody td:first-child[data-category="Action"] {
    background-color: #d14937;
    background-image: url('../assets/action.png');
}
#formula-table tbody td:first-child[data-category="Check"] {
    background-color: #f1a842;
    /* background-color: #32508b; */
    background-image: url('../assets/check.png');
}
#formula-table tbody td:first-child[data-category="Modifier"] {
    background-color: #63803b;
    background-image: url('../assets/modifier.png');
}
#formula-table tbody td:first-child[data-category="Status Effect"] {
    background-color: #814f8b;
    background-image: url('../assets/status\ effect.png');
}
#formula-table tbody td:first-child[data-category="Misc"] {
    background-color: #999999;
    background-image: url('../assets/misc.png');
}

.roll-button {
    width: 100%;
    font-weight: bold;
}

#log-panel {
    grid-row: 1 / 3;
    grid-column: 2;
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
    flex-flow: column nowrap;
    padding: 0.5rem;
    gap: 0.5rem;
}

#edit-panel {
    grid-row: 2;
    grid-column: 1;
    border: 2px solid black;
    border-radius: 2px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}

#edit-panel h2 {
    margin-bottom: 0.5rem;
}

#edit-controls {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}

#formula-arrange-controls {
    display: flex;
    flex-direction: column;
}

#formula-arrange-controls button {
    line-height: 1;
}

#log-box {
    flex: 1;
    position: relative;
}

#log {
    position: absolute;
    max-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

#log-text {
    min-height: 100%;
    display: flex;
    align-items: flex-end;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
}

#log-controls {
    display: grid;
    grid-template-columns: 1fr -webkit-min-content -webkit-min-content;
    grid-template-columns: 1fr min-content min-content;
    grid-auto-flow: column;
    row-gap: 0.4rem;
}

#command-entry {
    margin-right: 0.4rem;
}

@media screen and (max-width: 1156px) {

    #log-controls {
        grid-template-columns: auto auto;
    }

    #command-entry {
        grid-area: 1 / 1 / 2 / 3;
        margin-right: 0;
    }

    #log-submit {
        grid-area: 2 / 1;
    }

    #log-clear {
        grid-area: 2 / 2;
    }
}

@media screen and ((max-width: 864px) or (max-height: 550px)) {
    #die-roller-tab {
        grid-template-columns: auto;
        grid-template-rows: max(100%, 12rem) 10rem max(100%, 12rem);
        overflow-y: scroll;
    }

    #log-panel {
        grid-row: 3;
        grid-column: 1;
    }
}

@media screen and (max-width: 864px) {
    #die-roller-tab {
        grid-template-rows: max(100%, 12rem) 16rem max(100%, 12rem);
    }

    #formula-table {
        height: calc(100% - 4rem);
        max-height: calc(100% - 4rem);
    }

    #formula-table tr {
        grid-template-columns: 2rem 1fr 0 1fr 6rem;
    }
    
    #formula-table tr *:nth-child(3) {
        visibility: hidden;
    }

    #table-controls {
        grid-template-columns: 1fr 1fr;
        height: 4rem;
    }
    
    #formula-new {
        grid-area: 2 / 1 / 3 / 3;
        z-index: 1;
    }
}