#help-tab {
    color: #842c38;
    text-align: center;
    padding-inline: 10%;
    overflow-y: scroll;
    scrollbar-gutter: stable both-edges;
}

#help-tab h3 {
    font-style: italic;
}

#help-tab p, #help-tab li{
    font-size: 14pt;
}

#help-tab ol {
    width: fit-content;
    text-align: left;
    margin: auto;
}

#help-tab details {
    width: auto;
    text-align: left;
}

#help-tab summary {
    font-weight: bold;
}