#help-tab {
    color: #842c38;
    text-align: center;
    padding-inline: 10%;
    overflow-y: scroll;
    scrollbar-gutter: stable both-edges;
}

#help-tab h3 {
    font-style: italic;
}

#help-tab p, #help-tab li{
    font-size: 14pt;
}

#help-tab ol {
    width: fit-content;
    text-align: left;
    margin: auto;
}

#help-tab details {
    margin-right: auto;
    width: fit-content;
    text-align: left;
}

#help-tab summary {
    cursor: pointer;
    width: fit-content;
    font-weight: bold;
}

#help-tab .formula {
    background-color: #b1d1cc;
    padding: 0.3rem;
    border-radius: 0.3rem;
    color: black;
}